*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 30px;
    margin: 10px 0px;
}
#card h5{
    font-size: 25px;
    color: red;
    margin: 10px;
}
#card button{
  background-color: #DBE7F2;
  color: #1771E6;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  border: none;
}